In [1]:
print("Hello World")

Hello World

In [2]:
x = 5
y = 6
x+y

11

In [3]:
print(x,y)

5 6

In [4]:
z = x+y*2
print(z)

17

In [6]:
x = "Hello "
y = "World"
print(x+y)

Hello World

In [7]:
# i am comment
# what so ever you write after # , python ignores, it so you can use # to write your own notes 
x+y

'Hello World'

i am normal text

# i am big heading
## i am small heading
### i am very small heading 

- i am bullet list
- i am bullet list

# Python Programming

1. Data Types
    - Primitive Data Types - int, float, boolean, string and complex
    - Non primitive Data Types - List, Tuple, Dictionary and set
    
2. Control Flow
    - if else
    - for loop
    - while loop
    
3. Functions
    - Built in functions
    - User defined functions
    
4. Object Oriented Programming

# Data Types 

## Primitive Data Types

In [8]:
#integer
x = 5
print(x)
type(x)

5

int

In [9]:
# float 
y = 2.5
print(y)
type(y)

2.5

float

In [10]:
#string
z = "Hello World"
print(z)
type(z)

Hello World

str

In [11]:
#boolean
k = True
print(k)
type(k)

True

bool

In [12]:
#complex
m = 5+6j
print(m)
type(m)

(5+6j)

complex

In [13]:
m.conjugate()

(5-6j)

In [15]:
m.real

5.0

In [16]:
m.imag

6.0

In [17]:
z = "Hello from Python"
print(z)

Hello from Python

In [18]:
z.upper()

'HELLO FROM PYTHON'

In [19]:
z.lower()

'hello from python'

In [20]:
z.split()

['Hello', 'from', 'Python']

## Non Primitive Data Types'

List
- used to store a collection of values
- One list can also accept values of different data types
- it also accepts repeation of values 
- a list can be defined using sqaure brackets - []

In [47]:
x = [3,4,6/5,'hi','hello',"bye",12]
print(x)
type(x)

[3, 4, 1.2, 'hi', 'hello', 'bye', 12]

list

In [48]:
len(x) # to get the total count of values

7

In [49]:
# indexing - accessing values from the list
x[0]

3

In [50]:
x[5]

'bye'

In [51]:
x[-1]

12

In [52]:
x[-3]

'hello'

In [53]:
#slicing = accessing more values from list in the form a smaller list
print(x)

[3, 4, 1.2, 'hi', 'hello', 'bye', 12]

In [54]:
x[0:3]

[3, 4, 1.2]

In [55]:
x[2:6]

[1.2, 'hi', 'hello', 'bye']

In [56]:
x[1::2] # 1, 1+2 = 3rd, 1+2+2= 5th value

[4, 'hi', 'bye']

In [57]:
[x[2],x[6]]

[1.2, 12]

In [58]:
#customization
x[0] = 25
print(x)

[25, 4, 1.2, 'hi', 'hello', 'bye', 12]

In [59]:
x.append(3) # added a new value to list - 3
print(x)

[25, 4, 1.2, 'hi', 'hello', 'bye', 12, 3]

In [60]:
x.remove(12)
print(x)

[25, 4, 1.2, 'hi', 'hello', 'bye', 3]

In [61]:
x.pop(2) # remove a value by its index 
print(x)

[25, 4, 'hi', 'hello', 'bye', 3]

In [62]:
x.insert(2,"bootup") # insert bootup on 2nd position
print(x)

[25, 4, 'bootup', 'hi', 'hello', 'bye', 3]

In [63]:
print(x)

[25, 4, 'bootup', 'hi', 'hello', 'bye', 3]

In [64]:
a = x[4]
x[4] = x[2]
x[2] = a
print(x)

[25, 4, 'hello', 'hi', 'bootup', 'bye', 3]

Tuple
- used to store a collection of values
- One tuple can also accept values of different data types
- it also accepts repeation of values 
- a tuple can be defined using parenthesis - ()

In [65]:
y = (7,5,2.5,'hiii','bootup','ai','python',32)
print(y)
type(y)

(7, 5, 2.5, 'hiii', 'bootup', 'ai', 'python', 32)

tuple

In [66]:
len(y)

8

In [67]:
#indexing
print(y[0])
print(y[2])
print(y[5])
print(y[-1])

7
2.5
ai
32

In [68]:
#slicing
print(y[2:6])
print(y[1:3])

(2.5, 'hiii', 'bootup', 'ai')
(5, 2.5)

In [69]:
# customization
y[0] = 36

TypeError: 'tuple' object does not support item assignment

Dictionary

- collection of key:value
- it accepts multiple data types, accepts repeation of values but no repeation of keys
- can be customized
- unorderd
- can be defined using curly/middle brackets - {}

In [70]:
k = {"name":"Anshu","age":24,"laptop":"hp","score":[7,5,5]}

In [71]:
print(k)

{'name': 'Anshu', 'age': 24, 'laptop': 'hp', 'score': [7, 5, 5]}

In [72]:
type(k)

dict

In [73]:
#indexing
k["name"]

'Anshu'

In [74]:
k["score"]

[7, 5, 5]

In [75]:
# customization
k["language"] = "python"
print(k)

{'name': 'Anshu', 'age': 24, 'laptop': 'hp', 'score': [7, 5, 5], 'language': 'python'}

In [76]:
k.pop("age")
print(k)

{'name': 'Anshu', 'laptop': 'hp', 'score': [7, 5, 5], 'language': 'python'}

Set
- collection of values
- set doesn't support repeation of elements
- unorderd data type so you can not do indexing
- used for set theory operations - union and intersection
- can be defined using curly/middle brakets - {}

In [77]:
a = {4,7,5,2,6,5,2,6,5,2,3}
print(a)

{2, 3, 4, 5, 6, 7}

In [78]:
b = {1,2,2,3,2,5,2,4,1,2,2,3,9}
print(b)
type(b)

{1, 2, 3, 4, 5, 9}

set

In [79]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 9}

In [80]:
a.intersection(b)

{2, 3, 4, 5}

In [81]:
x =[2,5,5,8,2,4,5,3]
type(x)

list

In [82]:
y = tuple(x)
type(y)
print(y)

(2, 5, 5, 8, 2, 4, 5, 3)

In [83]:
print(set(x))

{2, 3, 4, 5, 8}

In [84]:
list(x)

[2, 5, 5, 8, 2, 4, 5, 3]

In [85]:
x = 2.5
int(x)

2

In [86]:
str(x)

'2.5'

In [87]:
y ='5'
float(y)

5.0

#### How to get input from user?

In [88]:
a = input("Enter the first number ")
b = input("Enter the second number ")
c = a+b
print(c)

Enter the first number 2
Enter the second number 5
25

In [89]:
type(a)

str

In [90]:
type(b)

str

In [91]:
a = input("Enter the first number ")
b = input("Enter the second number ")
c = int(a) + int(b)
print(c)

Enter the first number 5
Enter the second number 10
15

#### BMI Calculator - Body to Mass Index

write a  code to - 

ASk user 

- Enter the weight in KG
- Enter the height in CMs

- convert the height from CMs to meters

Use the below formula to calculate the BMI

**bmi = w/(h*h)**     - height should be used in meters

print(bmi)

In [94]:
h = input("Enter the weight in KG ")
w = input("Enter the height in CMs ")
# convert the height into meters
h = float(h)/100
bmi = float(w)/(h*h)
print(bmi)

Enter the weight in KG 125
Enter the height in CMs 175
112.0

## Control Flow

In [95]:
h = input("Enter the weight in KG ")
w = input("Enter the height in CMs ")
# convert the height into meters
h = float(h)/100
bmi = float(w)/(h*h)
print(bmi)

if bmi<25:
    print("your bmi is low")
    print("you should attend a food festival")
    print("sleep more, eat more and walk less")
elif bmi>=25 and bmi<30:
    print("you are fit ")
    print("you should start a fitness tips youtube channel")
    print("Stay fit, stay healthy")
else:
    print("your bmi is high, you are overweight")
    print("start using stairs and stop lift")
    print("leave IT and join civil or mechanical engineering domain")

Enter the weight in KG 83
Enter the height in CMs 155.5
225.72216577151983
your bmi is high, you are overweight
start using stairs and stop lift
leave IT and join civil or mechanical engineering domain

## LOOPs 
    - used to repeat execution of a set of syntaxes multiple times
    There are mainly two loops in python
    
        - For Loop    - when the exact count of repeation is known
        - While Loop  - when the exact count of repeation is not known, repeation should be done based on a condition

In [96]:
print("I love python more than burger")
print("I love python more than burger")
print("I love python more than burger")
print("I love python more than burger")
print("I love python more than burger")

I love python more than burger
I love python more than burger
I love python more than burger
I love python more than burger
I love python more than burger

In [97]:
for i in range(5) :
    print("I love python more than burger")

I love python more than burger
I love python more than burger
I love python more than burger
I love python more than burger
I love python more than burger

In [98]:
for sukma in range(5):
    print("I love python more than burger",sukma)

I love python more than burger 0
I love python more than burger 1
I love python more than burger 2
I love python more than burger 3
I love python more than burger 4

In [99]:
temp = [25,45,23,56,12,89,45,23,12,45]
for i in temp:
    if i > 50 :
        print(i)

56
89

In [101]:
k = " Python is amazing"
print(k*4)

 Python is amazing Python is amazing Python is amazing Python is amazing

In [102]:
for i in range(5) :
    print("Python is awesome",i)

Python is awesome 0
Python is awesome 1
Python is awesome 2
Python is awesome 3
Python is awesome 4

In [103]:
for i in range(3,12):
    print("Python is awesome",i)

Python is awesome 3
Python is awesome 4
Python is awesome 5
Python is awesome 6
Python is awesome 7
Python is awesome 8
Python is awesome 9
Python is awesome 10
Python is awesome 11

In [104]:
for i in range(3,12,2) :
    print("Python is awesome",i)

Python is awesome 3
Python is awesome 5
Python is awesome 7
Python is awesome 9
Python is awesome 11

### Guessing Game

In [105]:
ans = 5

In [106]:
for i in range(3):
    guess = int(input("Enter a value between 0 to 9 = "))
    if guess==ans:
        print("You won the jackpot, congratulations! ")
    else:
        print("Try Again")

Enter a value between 0 to 9 = 6
Try Again
Enter a value between 0 to 9 = 5
You won the jackpot, congratulations!
Enter a value between 0 to 9 = 8
Try Again

In [107]:
for i in range(3):
    guess = int(input("Enter a value between 0 to 9 = "))
    if guess>9 or guess<0:
        print("Wrong value entered, try a value between 0 to 9")
        continue
    if guess==ans:
        print("You won the jackpot, congratulations! ")
        break
    else:
        print("Try Again")

Enter a value between 0 to 9 = 3
Try Again
Enter a value between 0 to 9 = 12
Wrong value entered, try a value between 0 to 9
Enter a value between 0 to 9 = 5
You won the jackpot, congratulations!

In [111]:
for i in range(3):
    guess = input("Enter a value between 0 to 9 = ")
    if not guess.isdigit():
        print("Enter a number not text ")
        continue
    guess = int(guess)
    if guess>9 or guess<0:
        print("Wrong value entered, try a value between 0 to 9")
        continue
    if guess==ans :
        print("You won the jackpot, congratulations! ")
        break
    else:
        print("Try Again")

Enter a value between 0 to 9 = 8
Try Again
Enter a value between 0 to 9 = nurul
Enter a number not text
Enter a value between 0 to 9 = 5
You won the jackpot, congratulations!

In [113]:
ans = 5

while True:
    guess = int(input("Enter a value between 0 to 9 = "))
    if guess==ans:
        print("You won the jackpot, congratulations! ")
        break
    else:
        print("Try Again")

Enter a value between 0 to 9 = 4
Try Again
Enter a value between 0 to 9 = 3
Try Again
Enter a value between 0 to 9 = 8
Try Again
Enter a value between 0 to 9 = 1
Try Again
Enter a value between 0 to 9 = 12
Try Again
Enter a value between 0 to 9 = 5
You won the jackpot, congratulations!

In [114]:
ans = 5
count = 0

while True: 
    guess = int(input("Enter a value between 0 to 9 =  "))
    
    count = count+1
    if guess==ans:
        print("You won the jackpot, congratulations! ")
        break
    else:
        print("Try Again")
    if count==3:
        print("Game Over")
        break

Enter a value between 0 to 9 =  6
Try Again
Enter a value between 0 to 9 =  17
Try Again
Enter a value between 0 to 9 =  3
Try Again
Game Over

## Functions

In [115]:
x = [7,4,2,6,3,2]

In [116]:
print(x)

[7, 4, 2, 6, 3, 2]

In [117]:
type(x)

list

In [118]:
len(x)

6

In [119]:
sum(x)

24

In [120]:
min(x)

2

In [121]:
max(x)

7

In [122]:
sorted(x)

[2, 2, 3, 4, 6, 7]

In [123]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [124]:
def myfun():
    print("Hello from myfun functions.")
    print("have a good day!")
    print("lets start coding")
    return None

In [125]:
myfun()

Hello from myfun functions.
have a good day!
lets start coding

In [126]:
def myfun2(a,b):
    c = a+b
    return c

In [127]:
myfun2(7,3)

10

In [128]:
def myfun2(a,b):
    """
    this function is used to add two numbers.
    >> myfun2(7,2)
    >> 9
    
    """
    c = a+b
    return c

In [129]:
help(myfun2)

Help on function myfun2 in module __main__:

myfun2(a, b)
    this function is used to add two numbers.
    >> myfun2(7,2)
    >> 9

In [130]:
def myfun2(a,b):
    c = a+b
    d = a-b
    e = a*b
    f = a/b
    return c,d,e,f

In [131]:
myfun2(7,2)

(9, 5, 14, 3.5)

In [132]:
def greeting():
    print("Hey Hi, How are you?")

In [2]:
import Jakarta

In [3]:
Jakarta.bootup()

hello from bootup!
welcome to the course

In [4]:
Jakarta.bootup2(5,4)

9

In [5]:
help(Jakarta.bootup2)

Help on function bootup2 in module Jakarta:

bootup2(a, b)
    This function can accept two numbers and can return addition of two
    >> bootup2(8,2)
    >> 10

In [6]:
help(Jakarta)

Help on module Jakarta:

NAME
    Jakarta - This module is created by Anshu from Bootup for some general functions

FUNCTIONS
    bootup()
        this is a greetings function

    bootup2(a, b)
        This function can accept two numbers and can return addition of two
        >> bootup2(8,2)
        >> 10

FILE
    d:\bootcamp one week intensive at bootup\jakarta.py

In [1]:
import time

In [2]:
print(time.ctime())

Sun Jul 25 14:02:49 2021

In [3]:
print("Hello world, lets wait for 5 seconds")
time.sleep(5)
print("5 seconds are done")

Hello world, lets wait for 5 seconds
5 seconds are done

In [4]:
import random

In [5]:
x = random.randint(0,9)
print(x)

8

In [6]:
random.random()

0.5941972789990917

## list of packages for Data Science, NLP and Computer Vision

    numpy = mathematical computation on data
    pandas = Data import / export, Data Cleaning, Data Engineering, Data Aggregation, Descptrive Analysis
            Data Manipulation, Basic Data Visualization
            
    matplotlib, seaborn = Basic & Advance Data Visualization
    
    scipy, statsmodels = Advance statistics
    
    sklearn (scikit-learn) = Supervised and Unsupervised Machine Learning algorithms, feature extraction and selection
    
    Tensorflow, keras, pytorch = Deep Learning algorithms
    *********************************************************
    openCV = Image Processing and Computer Vision
    PIL, scikit-image, imgaug = Image loading and processing
    *********************************************************
    NLTK, gensim, spaCy = Text processing and Natural Language Processing
    textblob = text processing and NLP
    librosa = Audio Processing
    *********************************************************
    Flask, Django = Web Application Development, REST API
    PySpark = Apache Spark Big Data Computation